html {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #444;
}

h1 {
  text-align: center;
  font-size: 16pt;
  margin-below: 0;
  padding-below: 0;
}

.body {
  margin-top: 0;
}

.description {
  font-style: italic;
  font-size: smaller;
  margin-top: -0.5em;
  margin-bottom: 2em;
  width: 100%;
}

.description p {
  margin-bottom: -0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.version-number {
  font-style: italic;
}

.app-wrapper {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.options {
  display: block;
  font-size: 11pt;
  margin-left: 2em;
  margin-right: 2em;
}

.search-option {
  margin-right: 2em;
}

.labeled-checkbox {
  height: 2em;
}

#select-sort {
  float: right;
  margin-top: -0.35em;
}

#results-per-page {
  float: right;
}

.select-sort {
  display: inline-block;
  margin-left: auto;
  width: 10em;
}

.search-button {
  display: block;
  margin: 2em auto;
}

#search-button {
  font-size: 110%;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.search-input {
  font-size: 12pt;
  margin: 1em auto; 
  display: block;
  border: 1px sold gray;
  width: 100%;
}

.search-status {
  display: block;
}

.output {
  display: block;
  margin: 1em auto;
}

.results-autocorrections {
  margin-bottom: 2em;
}

.autocorrect-suggested-word {
  font-weight: bold;
}

.autocorrect-original-word {
  background-color: #f5d0e5;
  border-radius: 4px;
}

.autocorrect-replaced-word {
  background-color: #d0e990;
  border-radius: 4px;
}

.results-list {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.results-list li {
  padding-left: 0;
}

.pub-record {
  display: block;
  margin: 1em;
}

.pub-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.pub-title a {
  color: black;
}

.pub-authors {
  display: block;
  margin-bottom: 0.25em;
}

.pub-source {
  display: inline;
  font-style: italic;
}

.pub-source-type {
  display: inline;
  color: #aa22aa;
  margin-right: 1em;
}

.pub-source-type:after {
  content: '.';
}

.pub-source-type:before {
  content: '(';
}

.pub-source-type:after {
  content: ')';
}

.pub-doi {
  display: block;
  color: #22aadd;
}

.pub-doi a {
  color: #22aadd;
}

.pub-doi:before {
  content: "DOI: ";
}


.highlight {
  background-color: #ffffcc;
}

.author {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  margin-right: 0.25em;
}

.paginator {
  display: block;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.paging-button {
  display: inline;
  font-size: 110%;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}


/* The following styles are auto-applied to elements with transition="modal"
 * when their visibility is toggled by Vue.js. You can chang the modal
 * transition by editing these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  display: block;
  border: 1px solid #dedede;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  display: block;
  font-weight: bold;
  margin-top: 0;
  color: #992244;
  text-align: center;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  padding-bottom: 1em;
}

.modal-default-button {
  float: right;
}

